<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Vue Course Goals</h1>
  </header>
  <section id="user-goals">
    <h2>My course goals</h2>
    <input type="text" v-model="enteredGoalValue" />
    <button @click="addGoal">Add Goal</button>
    <!-- 
      * v-show
      ex) v-if="goals.length === 0"
      element는 남겨두고 display: none;이 적용된다.
      상태가 자주 바뀌는 경우에 사용하면 좋다.

      * v-if
      ex) v-if="goals.length === 0"
      element 자체를 지웠다가 표시했다가 할 수 있다.
      삭제/표시 자주 바뀌는 경우에는 사용하지 않는 것이 성능을 저하시키지 않는다.
    -->
    <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>
    <ul v-else>
      <!-- 
        * v-for
        ex) v-for="(goal, index) in goals" :key="goal"
        vue가 각 요소를 구분할 수 있게 key를 항상 함께 사용하도록 한다. 지금은 goal을 사용했지만, DB에 저장하게 되면 id를 사용하여 구분하는 경우가 많다.
       -->
      <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)">
        <p>{{ goal }} - {{ index }}</p>
        <input type="text" @click.stop>
      </li>
    </ul>
    <!-- <ul>
      <li v-for="num in 10">{{ num }}</li>
    </ul> -->
    <!-- <ul>
      <li v-for="(value, key, index) in {name: 'Max', age: 31}">{{ key }} : {{ value }} - {{ index }}</li>
    </ul> -->
  </section>
</body>

</html>